html, body {
  height: 100%;
  overflow: hidden;
  
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pad-left-right {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.resp-p-size {
  font-size: 2.5vmin;
  
  color: #E6F2F3;
  padding-bottom: 2vh;
}

.resp-h-size {
  font-size: 6vmin;
  padding: 1%;
  margin: 0;
  padding-bottom: 1vh;
  font-family: League Spartan;
  padding-left: 0;
}

.resp-h6 {
  font-size: 3vmin;
  margin: 0;
  color: #434A4B;
  padding-bottom: 1vh;
}

.no-padding {
  margin: 0 !important;
  padding: 0 !important;
}


.no-margin {
  margin: 0 !important;
}

.italic-style {
  font-style: italic;
}

.bold-style {
  font-weight: bold ;
}

.parallax-container{
  height: 30vh !important;
}

@media screen and (max-width: 540px) {
  .parallax-container{
      height: 25vh !important;
  }

 
}

.project-list {
  padding: 0px !important;
}

h3 {
  color: black;
}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

@keyframes floatdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floatingdown {
  transform: translateY(0px);
  animation: floatdown 3s ease-in-out infinite;
}

.floatingup {
  transform: translateY(0px);
  animation: floatup 6s ease-in-out infinite;
}

body {
  background-color:beige;
  
}

.profile-pad {
  padding-left: 0.5% !important;
  padding-right: 0.5% !important;
}

.card-content {
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 2% !important;
  padding-bottom: 5% !important;
}


.scroll {
  
  height: 100vh;
  text-align: center;
  position: relative;
  
}

.project-back {
  text-align: center;
  height: 100vh;
  scroll-snap-align: end;
  background: url("./images/galaxytree.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.center-section  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}

body {
  scroll-behavior: smooth;
  background: url("./images/synth.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    
}

.padding-profile {
  padding-left: 20vw;
  padding-right: 20vw;
}

.screen-p {
  font-size: 3vmin;
  text-align: justify;
}

.contact-positions {
  position: absolute;
  top: 65%;
  left: 93%; 
  transform: translate(-65%, -93%); 
  display: flex;
}

@media screen and (max-width: 479px){
  .padding-profile {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .resp-p-size {
    font-size: 3vmin;
    font-family: roboto Slab;
    color: #E6F2F3;
    padding-bottom: 2vh;
  }
  
  .contact-positions {
    position: absolute;
    top: 20%;
    left: 85%; 
    
    display: flex;
  }
  
}

.scrollcont {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}



section {
  height: 100vh;
  scroll-snap-align: end;
  background: url("./images/nightsky.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

}

section h5 {
  opacity: 0;
  transition: opacity 1000ms;
}

section.is-visible h5 {
  opacity: 1;
}

section h6 {
  opacity: 0;
  transition: opacity 1000ms;
}

section.is-visible h6 {
  opacity: 1;
}

section p {
  opacity: 0;
  transition: opacity 1000ms;
}

section.is-visible p {
  opacity: 1;
}

section span {
  opacity: 0;
  transition: opacity 1000ms;
}

section.is-visible span {
  opacity: 1;
}

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
  background: #ED2;
}

.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

@keyframes logofloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.logofloatdown {
  transform: translateY(0px);
  animation: logofloat 6s ease-in-out infinite;
}

.home-back {
  background-color: #50565B;
}


.text-border-white {
  text-shadow: -0.1vmin 0 white, 0 0.1vmin white, 0.1vmin 0 white, 0 -0.1vmin white;
}



.text-border-black {
  text-shadow: -0.1vmin 0 black, 0 0.1vmin black, 0.1vmin 0 black, 0 -0.1vmin black;
}

@font-face {
  font-family: League Spartan;
  src: url("./font/LeagueSpartan-Bold.otf");
}