.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pad-left-right {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.resp-p-size {
  font-size: 1.1vw;
}

.resp-h-size {
  font-size: 2vw;
  padding: 1%;
  margin: 0;
}

.no-padding {
  margin: 0 !important;
  padding: 0 !important;
}


.no-margin {
  margin: 0 !important;
}

.italic-style {
  font-style: italic;
}

.bold-style {
  font-weight: bold ;
}

.parallax-container{
  height: 20vh !important;
}

.project-list {
  padding: 0px !important;
}

h3 {
  color: black;
}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

@keyframes floatdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floatingdown {
  transform: translateY(0px);
  animation: floatdown 6s ease-in-out infinite;
}

.floatingup {
  transform: translateY(0px);
  animation: floatup 6s ease-in-out infinite;
}

body {
  background-color:grey;
}

.profile-pad {
  padding-left: 0.5% !important;
  padding-right: 0.5% !important;
}

.card-content {
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}
