.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pad-left-right {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.bigtitle {
  color:black;
  font-size: 40px !important;
  font-family: sans-serif;
}

.no-padding {
  margin: 0 !important;
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.italic-style {
  font-style: italic;
}

.parallax-container{
  height: 400px !important;
}

.project-list {
  padding: 10px !important;
}

h3 {
  color: black;
}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

@keyframes floatdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floatingdown {
  transform: translateY(0px);
  animation: floatdown 6s ease-in-out infinite;
}

.floatingup {
  transform: translateY(0px);
  animation: floatup 6s ease-in-out infinite;
}

body {
  background-color:grey;
}